@model IEnumerable<cotacao.Models.Invest>

@{
    ViewData["Title"] = "Invest";
}

<div class="text-center">
    <h1 class="display-4">Index of Invests</h1>
    <p>Here, you found all your invests</a>.</p>
    <table class="table">
    <thead>
        <tr>
            <th> ID investimento </th>
            <th> Data da compra </th>
            <th> Quantidade comprada </th>
            <th> Moeda </th>
            <th>  </th>
            <th> Retorno </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin)
                </td>
                <td>
                    <a asp-action="Form" asp-route-id="@item.InvestId">Consultar</a>
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>        
    </table>
</div>

<script type="module" src="~/js/Invest/Index.js" asp-append-version="true"></script>